name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  run-tests:
    name: Run the PyTest tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install this package
        run: |
          pip install -e .[dev]

      - name: Run tests
        run: |
          python -m pytest -v tests/
